@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (min-width: 768px) {
    .md\:bg-fixed {
      background-attachment: fixed;
    }
  }
}

.parallax-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
